/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

body{
	-webkit-font-smoothing: antialiased;
	background-color: black;
	font-family: "Helvetica Neue", "sans-serif";
}

$blue : #0b66ff;

.view{
	position: relative;
	// background-color: #4353a2;
	@include background-image(linear-gradient(left top,#14779B, #62A569));
	height: 528px;
	width: 320px;
	// margin: 0 auto;
	overflow: hidden;
	@include user-select(none);
}

.toolbar{
	height: 49px;
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	position: absolute;
	box-shadow: 0 0 1px rgba(0,0,0,0.3);
	bottom: 0;
	padding: 0 6px;
	box-sizing: border-box;
}

.toolbar-btn{
	color: $blue;
	font-size: 17px;
	height: 100%;
	display: inline-block;
	width: 100px;
	&:active{
		color:black;
	}
	.container{
		// background-color: white;
		display: inline-block;
		padding: 0 8px;
		box-sizing : border-box;
		height: 34px;
		font-weight: bold;
		line-height: 34px;
		margin-top: 8px;
		border-radius: 4px;
		@include transition(0.3s ease-out);
	}
}

.toolbar-btn-highlight{
	background-color: white;
	color: #444;
}

.toolbar-btn-left{
	float: left;
	text-align: left;

}

.toolbar-btn-mid{
	text-align: center;

}

.toolbar-btn-right{
	float: right;
	text-align: right;
}

.action-menu{
	width: 300px;
	position: absolute;
	left: 10px;
	border-radius: 6px;
	overflow: hidden;
	bottom: 60px;
	font-size: 20px;
	display: none;
	opacity: 0;
	@include transition(0.3s ease-out);
}

.menu-cell{
	height: 44px;
	line-height: 44px;
	box-shadow: 0 0 1px 0 #444;

	background-color: rgba(255,255,255,0.95);
	// margin-bottom: 1px;
	text-align: center;
	color: $blue;
	&:active{
		background-color: #ddd;
	}
	&:last-child{
		// box-shadow: none;
		// margin-bottom: 0;
	}
}

.scroll-container{
	height: 100%;
	width: 100%;
	overflow: scroll;
	// -webkit-overflow-scrolling: touch;
}

.scroll-content{
	width: 100%;
	min-height: 100%;
	padding: 10px 15px 100px 15px;
	// padding-bottom: 100px;
	box-sizing : border-box;
}
.template{
	display: none;
}
.chat-device{
	position: relative;
	width: 100%;
	// height: 200px;
	// background-color: rgba(255,255,255,0.5);
	margin-top: 30px;
	color: white;
	box-sizing: border-box;
	padding: 0 0 0 55px;
	font-weight: 300;

	.avatar{
		position: absolute;
		left: 0;
		top: 0;
		height: 40px;
		width: 40px;
		border-radius: 20px;
		background-color: white;
		background-image: url("../avatar.png");
		background-size: 100%;
	}
	.title-container{
		max-width: 100%;
		position: relative;
	}
	.title{
		-webkit-font-smoothing: subpixel-antialiased;
		font-size: 17px;
		font-weight: bold;
		display: inline-block;
	}
	.time{
		position: relative;
		left: 6px;
		bottom: -1px;
		font-size: 12px;
		display: inline-block;
		vertical-align: bottom;
		opacity: 0.5;
	}
	.content{
		position: relative;
		clear: left;
		width: 200px;
		padding-top: 8px;
		font-size: 17px;
		line-height: 22px;
	}
	.action{
		margin-top: 8px;
		max-width: 100%;
		display: inline-block;
		box-sizing: border-box;
		height: 30px;
		border-radius: 15px;
		font-size: 17px;
		line-height: 30px;
		padding: 0 10px;
		box-shadow: 0 0 1px 0 white;
		background-color: rgba(255,255,255,0.05);
		margin-right: 10px;
		&:active{
			background-color: white;
			color: $blue;
		}
	}
	.reply-quote-mark{
		-webkit-font-smoothing: subpixel-antialiased;
		font-weight: bold;
	}
}

